@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --light_blue_: #89cff0;
    --lavander_purple_: #e6e6fa;
    --gpastel_yellow_: #fff8dc;
    --black_: #0d0d0d;
    --white_: #ffffff;

    --font_family_title: 'Roboto', sans_serif;
    --font_family_title: 'Prompt', sans_serif;
    --font_weight_regular_title_: 400;
    --font_weight_medium_title_: 700;
    --font_weight_regular_text_: 200;
    --font_weight_medium_text_: 500;
}

/* Start francisco */

/* Finish francisco */
/* Start alejandro */

/* Finish alejandro */
/* Start juan_pablo*/
.P_sub_title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.P_sub_title h2 {
    font-size: 2rem;
    color: #13236b;
}

.article_cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.P_section_highlights {
    width: 90%;
    padding: 110px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    gap: 2rem;
}

.cards_highlights {
    background-color: #fff8dc;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 3px 4px 12px 4px rgba(163, 155, 194, 1);
    margin: 0 auto;
}

.cards_highlights img {
    width: 100%;
    border-radius: 16px;
}

.about_travel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.travel_name {
    text-align: left;
    width: 100%;
    color: #254453;
    font-size: 1rem;
    height: fit-content;
    padding: 5px;
}

.button_price {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200%;
    background-color: #254453;
    color: #000088;
    font-weight: bold;
    width: 130px;
    height: 80px;
}

.button_price p {
    color: #fff8dc;
    font-size: 1rem;
}

.travel_opinions {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: #254453;
}

.travel_opinions h2 {
    font-size: 1.5rem;
}

.num_opinions {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: #254453;
}

.num_opinions p {
    font-size: 1rem;
    color: #254453;
}

.see_more {
    text-align: center;
    width: 30%;
}

.see_more button {
    text-align: center;
    padding: 1.5rem;
    background-color: #254453;
    font-size: 1.5rem;
    color: #fff8dc;
    background-color: #254453;
    border-radius: 16px;
}

.see_more button:hover {
    background-color: #043459;
}
/* STYLES CART MORE INFORMATION*/
.more_information {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #254453;
    transition: width 0.3s, height 0.3s, background-color 0.3s, rotate 1s;
    border-radius: 16px;
    border: 2px solid rgb(36, 34, 34);
    padding: 1rem;
}

.more_information:hover {
    background-color: #588cb7;
}

.more_information_text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    text-align: left;
    border-radius: 1rem;
    color: #fff8dc;
    font-size: 1rem;
    border: 2px solid white;
    padding: 1rem;
}

.contain_add_booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    margin-top: 1rem;
    gap: 10px;
}

.contain_add_booking h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #254453;
    height: 100%;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    background-color: #fff8dc;
}

.contain_add_booking button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: #fff8dc;
    font-weight: bold;
    height: 100%;
    background-color: #254453;
}

.travel_price_back {
    position: absolute;
    top: 78%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 25%;
    width: 30%;
    border-radius: 50%;
    background-color: #fff8dc;
}

.travel_price_back p {
    color: #13236b;
}

/* Media query para pantallas entre 1162px y 1920px */
@media screen and (min-width: 1162px) and (max-width: 1920px) {
    .P_section_highlights {
        gap: 2rem;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .travel_name {
        width: 100%;
        font-size: 1.1rem;
    }

    .travel_opinions {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 16px;
        color: #254453;
    }

    .button_price {
        width: 45%;
        transform: translateY(1%);
        font-size: 1rem;
        right: 3%;
        padding: 0.1rem;
    }

    .contain_add_booking h3 {
        width: 55%;
        font-size: 1rem;
    }

    .contain_add_booking button {
        font-size: 0.8rem;
        width: 42%;
        text-align: center;
    }

    .see_more button {
        padding: 1rem;
    }
}

/* Media query para pantallas entre 830px y 1161px */
@media screen and (min-width: 830px) and (max-width: 1161px) {
    .travel_name {
        width: 60%;
    }

    .travel_opinions {
        width: 85%;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 1rem;
        color: #254453;
    }

    .button_price {
        width: 30%;
        height: 100%;
    }

    .num_opinions {
        width: 100%;
    }

    .more_information_text {
        margin-bottom: 1.5rem;
        padding: 1rem;
    }

    .more_information_text p,
    h2 {
        font-size: 1rem;
    }

    .contain_add_booking h3 {
        width: 55%;
        font-size: 1rem;
    }

    .contain_add_booking button {
        font-size: 0.8rem;
        width: 42%;
        text-align: center;
    }

    .travel_price_back {
        width: 35%;
    }
}

/* Media query para pantallas entre 600px y 829px */
@media screen and (max-width: 829px) {
    .P_section_highlights {
        justify-content: center;
    }

    .cards_highlights {
        width: 100%;
    }

    .num_opinions {
        text-align: center;
    }

    .button_price {
        top: 90%;
        right: 1%;
        height: 80px;
        width: 37%;
    }

    .more_information_text {
        padding: 2rem;
    }

    .travel_price_back {
        top: 77%;
        right: -3%;
        height: 25%;
        width: 30%;
    }
}

/* Media query para pantallas con tamños menores ah 600px */
@media screen and (max-width: 600px) {
    .cards_highlights {
        width: 100%;
    }

    .num_opinions {
        text-align: center;
    }

    .button_price {
        top: 90%;
        right: 1%;
        height: 80px;
        width: 37%;
    }

    .more_information_text {
        padding: 1rem;
    }

    .travel_price_back {
        top: 77%;
        right: 3%;
        height: 25%;
        width: 30%;
    }

    .see_more button {
        padding: 0.9rem;
    }
}
/* Finish juan_pablo */
/* Start samuel */

/* Finish samuel */
