@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root {
    --light-blue-: #89CFF0;
    --lavander-purple-: #E6E6FA;
    --gpastel-yellow-: #FFF8DC;
    --black-: #0D0D0D;
    --white-: #FFFFFF;


    --font-family-title: 'Roboto', sans-serif;
    --font-family-title: 'Prompt', sans-serif;
    --font-weight-regular-title-: 400;
    --font-weight-medium-title-: 700;
    --font-weight-regular-text-: 200;
    --font-weight-medium-text-: 500;
}

/* Start francisco */

/* Finish francisco */
/* Start alejandro */

/* Finish alejandro */
/* Start juan_pablo*/
.P-sub-title {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .P-sub-title h2{
    font-size: 2rem;
    color: #13236b;
  }
  .P-section-highlights {
      width: 90%;
      margin: 0px 50px;
      padding: 110px 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 10px;
      text-align: center;
  }
  .main{
    background-color: #FFF8DC;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    cursor: pointer;
    position: relative;
  }
  .background-image {
    width: 100%;
    padding: 4%;
  }
  .background-image img {
    width: 100%;
    border-radius: 16px;
  }
  .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  }
  .text .visit {
    padding-left: 20px;
    text-align: left;
    width: 65%;
    margin: 0 5px;
    color: #254453;
    font-size: 1rem;
  }

  .button-price{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    transform: translateY(-10%);
    border-radius: 200%;
    background-color: #254453;
    overflow: hidden;
    color: #000088; 
    font-weight: bold;
    width: 30%;
    }
  .button-price p {
    color: #FFF8DC;
    font-size: 1rem;
  }
  .opinions {
    width: 90%;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    color: #254453;
  }
  .opinions h2 {
    font-size: 1rem;
  }
  .paragraf p{
    font-size: 1rem;
    color: #254453;
  }
  .div-button {
    margin: 0 auto;
  }
  .button:hover {
      background-color:  rgb(15, 15, 15);
  }
  .btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 300%;
  }
  .btn button{
    margin-top: 2rem;
    background-color:#13236b;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 10%;
    border: none;
    outline: none;
    padding: 1rem 1rem;
    color:#FFF8DC;
  }
  .btn button:hover {
    background-color: rgb(54, 77, 100);
    cursor:pointer;
  }

  /* STYLES CART MORE INFORMATION*/
  .more-information {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgb(163, 184, 212);
    transition:
  width 2s,
  height 2s,
  background-color 2s,
  rotate 1s;
    border-radius: 16px;
    border: 2px solid rgb(36, 34, 34);
    padding: 1rem;
    margin-bottom: 1rem;
  } 
  .more-information:hover {
    background-color:  #254453;
  }

  .more-information-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    border-radius: 1rem;
    color: #FFF8DC;
    font-size: 1rem;
    border: 2px solid white;
    position: relative;
    overflow-y: auto;
    padding: 0.1rem;
  }
  .contain-add {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
  }
  .contain-add h3 {
    font-size: 16px;
    color: #254453;
    width: 45%;
    background-color:#FFF8DC;
    border-radius: 5px;
    margin: 0;
    font-weight: bold;
  }
  .contain-add button {
    text-align: center;
    padding: 1.25rem;
    background-color:#13236b;
    border-radius: 1rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color:#FFF8DC;
    font-weight: bold;
  }

  .travel-price {
    overflow: hidden;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-90%);
    border-radius: 50%;
    background-color:  #FFF8DC;
    overflow: hidden;
    bottom: 1rem;
    right: 0.9rem;
    height: 22%;
    width: 28%;
  }
  .travel-price p {
    color:  #13236b;
    font-size: 0.9rem;
  }

/*MEDIA QUERYS PARA TAMAﾃ前S MINIMOS ENTRE 1494 CON UN MAXIMO DE 1900*/
  @media screen and (min-width: 1494px)and (max-width: 1900px) {
    .P-section-highlights {
      grid-gap: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .visit {
      width: 60%;
    }
  .opinions {
    width: 85%;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    color: #254453;
  }
  .paragraf {
    width: 100%;
  }
    .button-price {
      width: auto;
      transform: translateY(-1%);
      font-size: 1rem;
      height: 200%;
      right: 3%;
      padding: 0.1rem;
    }
    .travel-price {
      width: auto;
      transform: translateY(-60%);
      right: 5%;
      height: 15%;
    }
    .travel-price p {
      font-size: 0.8rem;
    }
  .contain-add h3{
    width: 55%;
    font-size: 1rem;
  }
  .contain-add button {
    font-size: 0.8rem;
    width: 42%;
    text-align: center;
  }
    .btn{
      width: 400%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn button {
      width: 12%;
      text-align: center;
      padding: none;
    }
    .more-information {
    overflow-y: scroll;
}
.more-information::-webkit-scrollbar {
    width: 10px; 
}
.more-information::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
.more-information-text {
      margin-bottom: 1.5rem;
    }
  .more-information-text p, h2{
    font-size: 1rem;
  }
  }
  /*MEDIA QUERYS PARA TAMAﾃ前S 1162 ENTRE 1494 CON UN MAXIMO DE 1493*/
  @media screen and (min-width: 1162px)and (max-width: 1493px) {
    .P-section-highlights {
      grid-gap: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .visit {
      width: 60%;
    }
  .opinions {
    width: 85%;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    color: #254453;
  }
  .paragraf {
    width: 100%;
  }
    .button-price {
      width: auto;
      transform: translateY(-1%);
      font-size: 1rem;
      height: 200%;
      right: 9%;
      padding: 0.1rem;
    }
    .travel-price {
      width: auto;
      transform: translateY(-120%);
      right: 5%;
      height: 15%;
      /* overflow: hidden; */
      /* padding: 1rem; */
    }
    .travel-price p {
      font-size: 0.8rem;
    }
   .more-information {
    overflow-y: scroll;
}
.more-information::-webkit-scrollbar {
    width: 10px; 
}
.more-information::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
.more-information-text {
      margin-bottom: 1.5rem;
    }
  .more-information-text p, h2{
    font-size: 1rem;
  }
    .more-information-text {
      margin-bottom: 1.5rem;
    }
  .more-information-text p, h2{
    font-size: 1rem;
  }
  .contain-add h3{
    width: 55%;
    font-size: 1rem;
  }
  .contain-add button {
    font-size: 0.8rem;
    width: 42%;
    text-align: center;
  }
    .btn{
      width: 300%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn button {
      width: 15%;
      text-align: center;
      padding: none;
    }
    
  }
  /*MEDIA QUERYS PARA TAMAﾃ前S MINIMOS ENTRE 821 CON UN MAXIMO DE 1161*/
  @media screen and (min-width: 821px)and (max-width: 1161px) {
    .P-section-highlights {
      grid-gap: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .visit {
      width: 60%;
    }
  .opinions {
    width: 85%;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    color: #254453;
  }
  .paragraf {
    width: 100%;
  }
    .button-price {
      width: auto;
      transform: translateY(-1%);
      font-size: 1rem;
      height: 200%;
      right: 9%;
      padding: 0.1rem;
    }
    .travel-price {
      width: auto;
      transform: translateY(-90%);
      right: 5%;
      height: 15%;
      /* padding: 1rem; */
    }
    .travel-price p {
      font-size: 0.9rem;
    }
    .more-information {
      overflow-y: scroll;
    }
  .more-information-text p, h2{
    font-size: 1rem;
  }
  .more-information-text {
    margin-bottom: 1rem;
  }
  .contain-add h3{
    width: 55%;
    font-size: 1rem;
  }
  .contain-add button {
    font-size: 0.8rem;
    width: 42%;
    text-align: center;
  }
    .btn{
      width: 200%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn button {
      width: 40%;
      text-align: center;
      padding: none;
    }
    .more-information {
    overflow-y: scroll;
}
.more-information::-webkit-scrollbar {
    width: 10px; 
}
.more-information::-webkit-scrollbar-track {
    background-color: #992323; 
}
.more-information-text {
      margin-bottom: 1.5rem;
    }
  .more-information-text p, h2{
    font-size: 1rem;
  }
  }
  /*MEDIA QUERYS PARA TAMAﾃ前S MENORES AH 820*/
  @media screen and (max-width: 820px) {
    .P-section-highlights {
      grid-template-columns: repeat(auto-fill,minmax(200px,350px));
      flex-direction: column;
      display: flex;
    }
    .visit {
      width: 60%;
    }
  .opinions {
    width: 85%;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    color: #254453;
  }
  .paragraf {
    width: 100%;
  }
    .btn{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn button {
      width: 40%;
      text-align: center;
      padding: none;
    }
    .button-price {
      width: auto;
      transform: translateY(-1%);
      font-size: 1rem;
      height: 200%;
      right: 4%;
    }
    .travel-price {
      width: 20%;
      transform: translateY(-190%);
      font-size: 1rem;
      right: 5%;
      height: 15%;
    }
  .more-information-text {
    margin-bottom: 1rem;
  }
  .contain-add h3 p {
    font-size: 1rem;
  }
  .more-information-text  p {
    font-size: 0.8rem;
  }
}
/* Finish juan_pablo */
/* Start samuel */

/* Finish samuel */