@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root {
    --blue-: var(--blue-);
    --beige-: var(--beige-);
    --black-: #0D0D0D;
    --white-: #FFFFFF;


    --font-family-title: 'Roboto', sans-serif;
    --font-family-title: 'Prompt', sans-serif;
    --font-weight-regular-title-: 400;
    --font-weight-medium-title-: 700;
    --font-weight-regular-text-: 200;
    --font-weight-medium-text-: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titleFont);
}

h1 {
    font-size: 36px;
}

h2 {

    font-size: 27px;
}

h3 {
    font-size: 21px;
}

img {
    max-width: 100%;
}

/* Start francisco */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue-);
}

.nav-logo {
    min-width: 100px;
    max-width: 101px;
    height: 44px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-logo img {
    width: 100%;
    height: auto;
}

.nav-menu {
    padding: 10px;
    position: absolute;
    top: 100%;
    background-color: var(--primary-color);
    list-style-type: none;
    gap: 10px;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-menu li a {
    color: var(--white-);
    padding: 5px;
    display: flex;
}

.nav-menu li a:hover {
    border-radius: 5px;
    background-color: var(--beige-);
    color: var(--blue-);
}

.menu-toggle {
    order: 1;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

[aria-expanded='true']+.nav-menu {
    display: flex
}

.menu-toggle:hover {
    border: 2px var(--beige-) solid;
}

.access {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.submenu {
    display: none;
    position: absolute;
    left: -7px;
    bottom: -65px;
    background-color: var(--beige-);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    list-style-type: none;
    z-index: 1;
    text-align: center;
    border-radius: 5px;
    font-size: 0.9rem;
}

.submenu li {
    padding: 8px 12px;
}

.submenu li a {
    color: var(--blue-);
    padding: 3px;
    border-radius: 3px;
}

.submenu li a:hover {
    background-color: var(--blue-);
    color: var(--beige-);

}

.access:hover .submenu {
    display: block;
}

#submenu-btn {
    background-color: var(--beige-);
    color: var(--blue-);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
/* Finish francisco */
/* Start alejandro */

/* Finish alejandro */
/* Start juan_pablo*/

/* Finish juan_pablo */
/* Start samuel */

/* Finish samuel */

/********* Start Responsive ************/
/* Start francisco */
@media screen and (min-width: 625px) {
    .menu-toggle {
        display: none;
    }

    .nav-menu {
        display: flex;
        position: static;
        order: 1;
    }

    .access {
        order: 2;
    }

}
/* Finish francisco */
/* Start alejandro */

/* Finish alejandro */
/* Start juan_pablo*/

/* Finish juan_pablo */
/* Start samuel */

/* Finish samuel */
/*********** Finish Responsive ***********/