@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0D0D0D;
}
:root {
    --light-blue-: #89CFF0;
    --lavander-purple-: #E6E6FA;
    --gpastel-yellow-: #FFF8DC;
    --black-: #0D0D0D;
    --white-: #FFFFFF;


    --font-family-title: 'Roboto', sans-serif;
    --font-family-title: 'Prompt', sans-serif;
    --font-weight-regular-title-: 400;
    --font-weight-medium-title-: 700;
    --font-weight-regular-text-: 200;
    --font-weight-medium-text-: 500;
}

/* Start francisco */

/* Finish francisco */
/* Start alejandro */
/*Diseño del titulo y la barra de busqueda */
#mainDestinations{
    min-height: 100vh;
}

#mainDestinations h1{
    text-align: center;
    font-size: 2.5rem;
    color: #254453;
    margin-bottom: 3%;
}

/*input de busqueda */
#mainDestinations #searchBar{
    display: flex;
    justify-content: center; 
}

#searchBar .inputUser{
    background-color: #FFF8DC;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 2rem;
    padding: 0.9%;
    border: solid 0px;
    box-shadow: 2px 2px 2px 0px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

 ::placeholder{
    font-size: 1rem;
    font-style: italic;
    color: #183543;
} 

/* boton de buscar*/
.searchWhitInputUser{
    background-color: #254453;
    color: #FFF8DC;
    border-radius: 5px;
    width: 8%;
    text-align: start;
    font-family: "Roboto", sans-serif;
    box-shadow: 0px 2px 2px 0px;
    margin-bottom: 2rem;
    padding: 1rem;
}

#searchBar #arrow{
    position: relative;
    right: 3%;
    bottom: -0.6rem;
    color: #FFF8DC;
    font-size: 200%;
}

/*Diseño y estructuracion del collage de destinos en "Principales destinos" */
/*Maquetacion con grid */
#places{
    display: grid;
    grid-template-columns: 32% 32% 16% 16%;
    grid-auto-rows: 70px;
    margin-left: 1.5%;
    gap: 1rem;
}

#places a{
    background: linear-gradient(to right, #25445390, #25445390);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

#places h2{
    color: #FFF8DC;
    font-size: 200%;
    margin-left: 3%;
    
}

#places a:hover{
    color: #FFF8DC;
    box-shadow: 0px 0px 5px 3px #254453;
}

#places #c_1{
    grid-row: 1/7;
}

#places #c_2{
    grid-row: 1/4;
}

#places #c_3{
    grid-row: 1/4;
    grid-column: 3/5;
}

#places #c_4{
    grid-row: 4/7;
}

#places #c_5{
    grid-column: 3/4;
    grid-row: 4/7 ;
}

#places #c_6{
    grid-column: 4/5;
    grid-row: 4/7;
}

#places #c_7{
    grid-row: 7/10;
    grid-column: 1/5;
}

#c_7 h2{
    margin-left: 1%;
    margin-bottom: 0;
}
/* Finish alejandro */
/* Start juan_pablo*/

/* Finish juan_pablo */
/* Start samuel */

/* Finish samuel */