@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Overlock+SC&family=Permanent+Marker&family=Press+Start+2P&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border: solid 1px red; */
  font-family: var(--font-family-title);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  --blue-: #254453;
  --beige-: #fff8dc;
  --black-: #0d0d0d;
  --white-: #ffffff;

  --font-family-title: "Roboto", sans-serif;
  --font-family-title-two: "Prompt", sans-serif;
  --font-weight-regular-title-: 400;
  --font-weight-medium-title-: 700;
  --font-weight-regular-text-: 200;
  --font-weight-medium-text-: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

img {
  max-width: 100%;
}

/* Start francisco */

/* Finish francisco */
/* Start alejandro */

/* Finish alejandro */
/* Start juan_pablo*/

/* Finish juan_pablo */
/* Start samuel */
/* ----------------------dashboard home landing page--- */

.section_dashHero {
  height: 100vh;
  width: 100%;
  display: flex;
}

.menu_dashHero {
  background-color: var(--blue-);
}

.place_dashHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  width: 70%;
  padding: 30px;
}

.menu_dashHero {
  width: 30%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.menu_dashHero h2 {
  color: var(--beige-);
  font-family: var(--font-family-title);
}

.table_one_hero,
.table_two_hero {
  width: 80%;
  height: 50%;
  border-radius: 20px;
}
/* ------------------------- footer -----*/

.footer_home {
  background-color: var(--blue-)  ;
  width: 100%;
  height: 45vh;
  display: flex;
}

.map_footer {
  border-radius: 20px;
  background: url(/src/google-maps-22-1200x675.jpg);
  width: 80%;
  height: 80%;
}

.contain_map_footer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_info_footer {
  width: 60%;
}
.column_info_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.info_contact,
.info_adress {
  width: fit-content;
  padding: 30px;
  font-size: 20px;
  font-family: var(--font-family-title);
  list-style: none;
  height: 100%;
}

.contain_info_adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info_contact ul,
.info_adress ul {
  list-style: none;
  color: var(--beige-);
  font-weight: bold;
}

.info_contact ul li,
.info_adress ul li {
  padding: 5px;
}

.info_contact ul li:hover,
.info_adress ul li:hover {
  color: white;
}

.social_media_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-family: var(--font-family-title);
  color: var(--beige-);
}

.social_media_footer svg {
  height: 50px;
  width: 50px;
  margin: 10px;
}
/* ------------------------- dashboard admin -----*/

.section_dashboard_admin {
  height: 100vh;
  width: 100%;
  display: flex;
}

.menu_dash_admin {
  background-color: var(--blue-);
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.menu_dash_admin div{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.menu_dash_admin div svg {
  color: white;
  height: 100px;
  width:fit-content;
}

.menu_dash_admin button{
  padding: 5px;
  width:120px;
  height: 150px;
  background-color: var(--blue-);
  color: white;
  border: 1px solid #4f6772;
  text-align: left;

}

.menu_dash_admin button:hover {
  border-left: solid 2px white;
  font-weight: bold;
  cursor: pointer;
}

.menu_dash_admin h3 {
  text-align: left;
  color: white;
  padding: 10px;
}
/* ------ targets description dashboard admin -----*/
.place_dashboard_contain {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  gap: 30px;
  overflow: scroll;
  overflow-x: hidden;
  
}

.section_description_targets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.table_stadistics {
  height: 500px;
  width: 80%;
  border: #254453 solid 1px;
  border-radius: 20px;
}

.button_table_stadistics {
  background-color: var(--blue-);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: var(--white-);
  font-weight: 600;
  font-size: 15px;
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.5);
}

.button_table_stadistics:hover {
  font-weight: bold;
  color: var(--blue-);
  background-color: var(--white-);
  border-color: var(--blue-) 1px solid;
  cursor: pointer;
}

/* ------ targets description dashboard admin -----*/

.target_description_dash {
  display: flex;
  height: 30vh;
  width: 80%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.5);
}

.img_target_description {
  width: 30%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.contain_text_description{
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-);
  border-radius: 0px 10px 10px 00px;
}

.title_tour_description {
  width: 80%;
  background-color: var(--beige-);
  border-radius: 10px;
  padding: 5px;
  color: var(--blue-);
  text-align: center;
}

.text_description_target p {
  font-size: 15px;
  color: var(--beige-);
}

.contain_characteristic_target {
  width: 100%;
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 1px #fff8dc;
}

.contain_characteristic_target p {
  width: 25%;
  height: fit-content;
  padding: 5px;
  text-align: center;
  color: var(--beige-);
  font-weight: bold;
  font-size: 12px;
}

.border_target_char {
  border-right: solid 1px #fff8dc;
}

/* Finish samuel */

/********* Start Responsive ************/
/* Start francisco */

/* Finish francisco */
/* Start alejandro */

/* Finish alejandro */
/* Start juan_pablo*/

/* Finish juan_pablo */
/* Start samuel */
/* ------------------------- tablet-----*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .section-dashHero {
    height: 80vh;
  }
  .social_media_footer svg {
    margin: 3px;
  }
  .article-img {
    flex: 0 0 calc(100% / 1);
  }

  .menu_dash_admin {
    padding: 10px;
    align-items: center;
  }

  .menu_dash_admin h3 {
    text-align: center;
  }

  .menu_dash_admin div  {
    flex-direction: column;
    width: 100%;
  }

  .menu_dash_admin button{
    text-align: center;
  }

  .target_description_dash{
    height: 300px;
  }
}
/* ------------------------- mobile -----*/
@media screen and (max-width: 599px) {
  .section-dashHero {
    height: 70vh;
  }
  .menu_dashHero h2 {
    font-size: 13px;
  }
  .footer-home {
    height: 30vh;
  }
  .info_contact,
  .info_adress {
    font-size: 10px;
  }

  .social_media_footer svg {
    height: 20px;
    width: 20px;
    margin: 5px;
  }

  .info_contact,
  .info_adress {
    padding: 10px;
  }

  /* --------------------------section dashboard----------- */


  .menu_dash_admin {
    justify-content: flex-start;
    align-items: ;

    padding: 5px;
  }

  .menu_dash_admin button {
    font-size: 9px;
    width: 100%;
    height: 40px;
  }

  .menu_dash_admin h3 {
    padding: 0px;
    width: 100%;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .menu_dash_admin div {
    width: 100%;
    flex-direction: column;
    justify-content:center ;
    align-items: center;

  }

  .menu_dash_admin div svg {
    height: 50px;
  }

  .menu_dash_admin div{
    margin-bottom: 10px;
  }

 

  .place_dashboard_contain{
    padding: 10px;
  }

  .table_stadistics {
    height: 30vh;
  }

  .contain_text_description {
    height: 100%;
    padding: 5px;
    width: 100%;
    gap: 10px;
    border-radius: 0px 0px 10px 10px;
  }

  .img_target_description {
    
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .target_description_dash {
    flex-direction: column;
    height: 300px;
  }

  .target_description_dash p {
    font-size: 10px;
  }

  .contain_characteristic_target {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
  }

  .border_target_char {
    border: 0px;
  }
}

/* Finish samuel */
/* Finish samuel */
/*********** Finish Responsive ***********/